@import 'bulma/bulma';
@import '_layout';

.content {
  margin-top: 1.5rem;
}

.nav-button {
  margin: .5em;
}

.list  {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.list-item {
  margin: 0.75em;
}

.key {
  margin-bottom: .2em!important;
}
